apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  replicas: {{ .Values.mysql.replicaCount }}
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: {{ .Values.mysql.image }}
          ports:
            - containerPort: 3306
          env:
            # For demo simplicity, values.yaml is used.
            # Later we can move these into a Kubernetes Secret template.
            - name: MYSQL_ROOT_PASSWORD
              value: {{ .Values.mysql.credentials.rootPassword | quote }}
            - name: MYSQL_DATABASE
              value: {{ .Values.mysql.credentials.database | quote }}
          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: {{ .Values.mysql.pvc.name }}
