apiVersion: apps/v1
kind: Deployment
metadata:
  name: adminer
spec:
  replicas: {{ .Values.adminer.replicaCount }}
  selector:
    matchLabels:
      app: adminer
  template:
    metadata:
      labels:
        app: adminer
    spec:
      containers:
        - name: adminer
          image: {{ .Values.adminer.image }}
          ports:
            - containerPort: 8080
