mysql:
  image: mysql:8
  replicaCount: 1
  servicePort: 3306
  pvc:
    name: mysql-pvc
    size: 1Gi
  credentials:
    rootPassword: password
    database: auth_db

auth:
  replicaCount: 1
  image:
    repository: auth-service
    tag: latest
    pullPolicy: Never   
  service:
    type: ClusterIP
    port: 8000
  env:
    # Connect to mysql Service inside cluster
    databaseUrl: mysql+pymysql://root:password@mysql:3306/auth_db

adminer:
  replicaCount: 1
  image: adminer
  service:
    type: NodePort
    port: 8080

reservation:
  replicaCount: 1
  image:
    repository: reservation-service
    tag: latest
    pullPolicy: Never   
  service:
    port: 8000
  env:
    databaseUrl: mysql+pymysql://root:password@mysql:3306/reservation_db
    authServiceUrl: http://auth-service:8000/auth

dashboard:
  replicaCount: 1
  image:
    repository: portainer/portainer-ce
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 9000
    nodePort: 30900  # Only used if type is NodePort
  pvc:
    name: portainer-data
    size: 1Gi

# Monitoring Stack Configuration - Using kube-prometheus-stack Helm chart
monitoring:
  enabled: true
  useExistingStack: true
  
  # kube-prometheus-stack Helm overrides
  prometheusStack:
    grafana:
      service:
        type: NodePort
        nodePort: 30301
    prometheus:
      service:
        type: NodePort
        nodePort: 30909

ingress:
  enabled: true
  className: nginx
  monitoring:
    prometheus:
      path: /prometheus(/|$)(.*)
      enabled: true
    grafana:
      path: /grafana(/|$)(.*)
      enabled: true