apiVersion: v1
kind: Service
metadata:
  name: reservation-service
spec:
  selector:
    app: reservation-service
  ports:
    - protocol: TCP
      port: {{ .Values.reservation.service.port }}
      targetPort: 8000
  type: ClusterIP
